:root {
    --bg-primary: #999;
    --border-color: #ccc;

    --HeaderHeight: 10rem;
    --HeaderHeightMini: 5rem;
    --FooterHeight: 50rem;
    --SidebarHeight: calc(100vh - var(--HeaderHeight));
    --SidebarWidth: 30rem;
    --SidebarShownerSize: 5rem
}

.Header {
    height: var(--HeaderHeight);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.Main {
    margin-top: var(--HeaderHeight);

    position: relative;

    .Sidebar {
        width: var(--SidebarWidth);
        height: var(--SidebarHeight);

        position: fixed;
        top: var(--HeaderHeight);
        bottom: 0;

        transition: transform linear .1s;
        transform: translateX(0);

    }

    .SidebarHide {
        transform: translateX(-100%);
    }

    .SidebarShow {
        transform: translateX(0);
    }

    .Content {
        height: 2000px;
        transition: all linear .1s;
    }

    .ContentExpand {
        width: 90%;
        margin: 0 auto;
    }
    
    .ContentCollapse {
        margin-left: calc(var(--SidebarWidth));
        padding: 0 5%;
    }
    
    .Overlay {
        width: calc(100% - var(--SidebarWidth));
        height: 100%;
        
        position: absolute;
        top: 0;
        left: var(--SidebarWidth);

        background-color: rgba(0, 0, 0, 0.2);
    }

    .SidebarShownerCtn {
        position: relative;

        .SidebarShowner {
            width: var(--SidebarShownerSize);
            height: var(--SidebarShownerSize);
            
            position: absolute;
            right: calc(0rem - var(--SidebarShownerSize));
            top: calc(0rem - var(--SidebarShownerSize));

            cursor: pointer;

            svg {
                position: absolute;
                top: -1rem;
                left: .5rem;
                width: 4rem;
            }

            &:hover svg{
                fill:lightcoral;
            }
        }
    }
}

.Footer {
    height: var(--FooterHeight);
}

@media screen and (max-width: 768px) {
    .Header {
    }
}