:root {
  --logo-width: var(--sidebar-width);
  --header-height: 10rem;
}

header {
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--border-color);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  
  .logo {
    height: var(--header-height);
    width: var(--logo-width);
    
    display: flex;
    justify-content: center;
    position: relative;

    user-select: none;

    .logo-img {
      height: 10rem;
    }
    .logo-title {
      line-height: var(--header-height);
      font-weight: 700;
      font-size: 2.5rem;
    }
    .devide-line {
      height: calc(var(--header-height) / 2);
      width: 1px;
      
      position: absolute;
      right: -1px;
      margin-top: calc(var(--header-height) / 4);

      border-left: 1px solid var(--border-color);
    }
  }
  
}