.TopMenu {
    display: flex;
    justify-content: space-around;

    .TopMenuItem {
        border: 1px solid var(--border-color);
        border-radius: 5rem;
        width: 20rem;
        height: 5rem;
        margin-top: 2.5rem;
        text-align: center;

        a {
            text-decoration: none;
            color: #000;
            text-transform: capitalize;
            font-weight: 500;
            line-height: 5rem;
            pointer-events: none;
        }

        &:hover {
            cursor: pointer;
        }

        &:hover a {
            color: lightcoral;
        }
    }
}


.Banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30rem;
    .BannerSlider {
        width: 100%;
    }
    .BannerItem {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
            margin: 0 auto;
            height: 33%;
            width: 90%;
        }
    }
}