.Sidebar {
    border-right: solid 1px var(--border-color);
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .SidebarMenu {
        height: 100%;
        overflow-y: scroll;

        .SidebarMenuItem {
            height: 5rem;
            border-bottom: 1px solid var(--border-color);

            font-weight: 500;

            // + .SidebarMenuItem {}
        }

        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background: #999;
        }
    }

    .SidebarHider {
        border-top: 1px solid var(--border-color);
        height: 5rem;
        cursor: pointer;
    }

}